<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All Images</title>

    <link rel="stylesheet" href="../static/style_css.css" th:href="@{/style_css.css}">
</head>
<body>
<div class="container">
    <div class="box-l"></div>
    <div class="box-m color-darkgray">
        <ul th:each="img_model:${img_models}">
            <li>
                <p th:text="${img_model.getDate_image()}"></p>
                <img th:src="@{'/show/all/image/'+${img_model.getId_image()}}" height="350" width="450">
            </li>
        </ul>
    </div>
    <div class="box-l"></div>
</div>

</body>
</html>